Package: lsmount-dbgsym
Source: lsmount
Version: 0.2.2-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Andreas Schwarz <a.schwarz_dev@dntw.de>
Installed-Size: 32
Depends: lsmount (= 0.2.2-1)
Section: debug
Priority: optional
Description: debug symbols for lsmount
Build-Ids: 0107a65b19a98b080e7819f9c84553a14151c222
