use-alignment    = true;
use-color        = false;
debug            = false;
resolve-symlinks = true;
show-rootfs      = false;
shrink-eighty    = false;
show-tmpfs       = false;
show-unused      = false;
print-vertical   = false;
