use_alignment    = true;
use_color        = false;
debug            = false;
resolve_symlinks = true;
show_rootfs      = false;
shrink_eighty    = false;
show_tmpfs       = false;
show_unused      = false;
print_vertical   = false;
